<!DOCTYPE html>
<html>
<head>
    <title>Crear Usuario</title>
</head>
<body>

<h2>Crear Usuario</h2>

<form method="POST">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Usuario" required><br><br>
    <input type="email" name="email" placeholder="Email" required><br><br>
    <input type="password" name="password" placeholder="Contraseña" required><br><br>

    <select name="rol">
        <option value="VENDEDOR">Vendedor</option>
        <option value="ADMIN">Administrador</option>
    </select><br><br>

    <button type="submit">Crear</button>
</form>

</body>
</html>